<!DOCTYPE html>
<html>
    
    <head>
      <h1><%= title %></h1><br>
        <link rel="stylesheet" type="text/css" href='/stylesheets/style_index.css'>
    </head>
    
    <body>
           <!--....................Acces to other views...............-->

           <table border="0">
            <thead><tr>
              <th><a href="https://tarce-lab1-mrluque.herokuapp.com/servicios">
                <button>Servicios</button></a></th>

              <th><a href="https://tarce-lab1-mrluque.herokuapp.com/bd">
                <button>Información</button></a></th>

              <th><a href="https://tarce-lab1-mrluque.herokuapp.com/mejoras">
                <button>Conoce tu nivel</button></a></th>

            </tr></thead>
            </table><br>
        
     <!--..............Information about the courses offered by the academy................-->
     
     <h2>¡¡CONÓCENOS Y CONVIÉRTETE EN UN ARTISTA!!  </h2>
     <table border="0">
         <thead>
             <tr>
                 <th>Arte moderno con pinturas al óleo</th>
                 <th>Esbozo a carboncillo</th>
                 <th>Naturaleza en acuarela</th>
                 <th>Dibujo realista de la figura humana</th>
                 <th>Personajes animados y cartoon</th>
             </tr>
         </thead>
         
         <tbody>
             <tr>
                 <td><img src="images/pintura_oleo.PNG" width="225" height="300" alt="pintura_oleo"/> </td>
                 <td><img src="images/pintura_esbozo_carboncillo.PNG" width="225" height="300" alt="pintura_carboncillo"/></td>
                 <td><img src="images/pintura_acuarela.PNG" width="225" height="300" alt="pintura_acuarela"/></td>
                 <td><img src="images/pintura_anatomia.PNG" width="225" height="300" alt="pintura_anatomia"/> </td>
                 <td><img src="images/pintura_personaje.PNG" width="225" height="300" alt="pintura_personaje"/></td>
             </tr> 
         </tbody>
     </table><br>

      <!--..........Acces to the code..........-->
      <a href="https://github.com/mrluque">
		  <button>Código en GitHub</button> </a><br>

      <!--..........Contact info..........-->
            <p>LAS PALMAS<br>
               C/ Gran Capitán, 45<br>
               Telef.: +34 922 000 000<br>
               Whatsapp: 657 111 111</p>
    </body>
</html>

