<!DOCTYPE html>
<html>
    
    <head>
      <h1><%= title %></h1><br>
        <link rel="stylesheet" type="text/css" href='/stylesheets/style_index.css'>
    </head>
    
    <body>

     <!--..............Information about the courses offered by the academy................-->
     
     <h2>Información sobre nuestros cursos </h2>
     <table border="0">
         <thead>
             <tr>
                <th>Arte moderno con pinturas al óleo</th>
                <th>Esbozo a carboncillo</th>
                <th>Naturaleza en acuarela</th>
                <th>Dibujo realista de la figura humana</th>
                <th>Personajes animados y cartoon</th>
             </tr>
         </thead>
         
         <tbody>
            <tr>
                <td><p> Este curso de pintura al óleo engloba los conceptos más importantes que debes saber para empezar a pintar con esta técnica. Incorpora trucos y consejos prácticos para que cualquiera pueda pintar su primera obra.</p></td>
                <td><p>Te enseñaremos las principales técnicas para comenzar a realizar esbozos en carboncillo de cualquier naturaleza: retatos, dibujos arquitectónicos, bodegones... ¡El límite lo pones tú!</p></td>
                <td><p>En este curso, te mostraremos paso a paso el proceso para realizar bocetos con acuarela. Aprenderás a enriquecer tu cuaderno con combinaciones de colores inusuales y a realizar alegres dibujos experimentales.</p></td>
                <td><p>Curso avanzado para aquellos que quieran perfeccionar su conocimiento sobre el dibujo de la figura humana, basándonos en esculturas renacentistas, de forma que aplicarás los conocimientos aprendidos de anatomía a tus dibujos.</p> </td>
                <td><p>Aprende a diseñar tus propios cómics y personajes de ficción para crear historias animadas. Te enseñaremos técnicas para fomentar tu imaginación y trucos en esos momentos de 'bloqueo creativo'</p></td>
            </tr> 
            <tr>
                 <td><img src="images/pintura_oleo.PNG" width="225" height="300" alt="pintura_oleo"/> </td>
                 <td><img src="images/pintura_esbozo_carboncillo.PNG" width="225" height="300" alt="pintura_carboncillo"/></td>
                 <td><img src="images/pintura_acuarela.PNG" width="225" height="300" alt="pintura_acuarela"/></td>
                 <td><img src="images/pintura_anatomia.PNG" width="225" height="300" alt="pintura_anatomia"/> </td>
                 <td><img src="images/pintura_personaje.PNG" width="225" height="300" alt="pintura_personaje"/></td>
            </tr> 
         </tbody>
     </table><br>

       <!--..........Return..........-->
       <a href="https://tarce-lab1-mrluque.herokuapp.com/">
        <button>Volver a la página inicial</button> </a><br>
    </body>
</html>
