body {
  background: #4F5152;
  color: #fff;
  font-family: 'Lato', Arial, sans-serif;
}

h1 {
  font-family: "proxima-nova",monospace;
  letter-spacing: -0.01em;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
  margin-left: -3px;
  line-height: 1em;
  color: #F6C709;
  text-align: center;
  margin-bottom: 8px;
}

h2 {
  font-size: 20px;
  font-style: normal;
  color: #00F5F9;
  font-weight: bolder;
  text-decoration:underline;
}

h3 {
  color: #FFF;
  font-weight:normal;
  background: #6A6D6D;
}

h4 {
  color: #00F5F9;
  font-size: 25px;
  font-weight:normal;
  font-weight: bolder;
}
h5 {
  color: #FFF;
  font-size: 20px;
  font-weight:normal;
  font-weight: bolder;
} 

h6{
  text-align: center;
  
}

p{
  color:  #F8FAB9; 
  text-align: left;
}


table {
  width: 80%;
  margin: auto;
  text-align: center; 
}

table, th, td {
  border: 1px solid #fff;
  border-collapse: collapse;
  color: #fff;
  line-height: 1em;
  font-weight:bolder; 
}

th, td {
  padding: 15px;
  
}